.Comment__content {
    display: flex;
    justify-content: space-between;
}
.Comment__content_body:before {
    content: ' - ';
}
.Comment__content_date {
    color: #a0a0a0;
    font-size: 0.9em;
    font-style: italic;
}
.postComponent__comments_title {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}
.addNewCommentButton{
    display: block;
}